<div class="error">
  <% if @error %>
  <%= @error %>
  <% end %>
</div>

<div class="new_question question_form">
  <%= render partial: "question_form" %>
</div>

<div class="questions">
  <ul>
  <% @questions.each_with_index do |question, index| %>
    <li class="question">
      <div class="vote_action">
        <a href="/questions/<%=question.id%>/upvote" class= "vote"><%= image_tag "upvote.jpg"%></a>

        <a href="/questions/<%=question.id%>/downvote" class ="vote"><%= image_tag "downvote.jpeg"%></a>

      </div>
      <div class="vote_count">
        <% question.vote_count.times do |beer| %>
        <%= image_tag "beercup.jpg", {width: 20, class: "beer-cup"} %>
        <% end %>
      </div>
      <div class="question_title">
          <%= link_to question.title, question %>
      </div>
      <div class="question_content">
          <%= question.content%>
      </div>
    </li>
  <% end %>
</ul>
</div>



<%= render partial: "question_template" %>