<div class="each_question">
  <div class="question_title"><%= @question.title %></div>
  <div class="question_content"><%= @question.content %></div>
  <%= link_to 'Delete', question_path(@question), method: :delete, data: {confirm: 'Are you sure?'} %>
  <%= link_to 'Edit', edit_question_path(@question) %>
</div>

<div class="new_answer">
  <%= render partial: "answer_form" %>
</div>

<div class="answers">
  <ul>
  <% @answers.each_with_index do |answer, index| %>
    <li class="answer">
      <div class="vote_action">
        <a href="<%=@question.id%>/answers/<%=answer.id%>/upvote" class= "vote"><%= image_tag "upvote.jpg"%></a>

        <a href="@question.id%>/answers/<%=answer.id%>/downvote" class ="vote"><%= image_tag "downvote.jpeg"%></a>

      </div>
      <div class="vote_count">
        <% answer.vote_count.times do |beer| %>
        <%= image_tag "beercup.jpg", {width: 20, class: "beer-cup"} %>
        <% end %>
      </div>
      <div class="answer_title">
        <%= answer.title %>
      </div>
      <div class="answer_content">
        <%= answer.content %>
      </div>
      <%= link_to 'Edit', edit_question_answer_path(@question, answer) %>
      <%= link_to 'Delete', question_answer_path(@question, answer), method: :delete, data: {confirm: 'Are you sure?'} %>
    </li>
    <hr>
  <% end %>
</ul>
</div>

<%= render partial: "answer_template" %>