<div class="question_form">
<%= form_for ([@answer.question, @answer]) do |f| %>
<br>
<br>
Answer Title: <br />
<%= f.text_field :title, class: "title" %> <br />
<br>
<br>
Answer Content: <br />
<%= f.text_field :content, class: "content" %> <br />
<%= f.submit "Edit this Answer" %>
<% end %>

<%= link_to 'Back', question_path %>
</div>